body {
	font-family: 'Open Sans', sans-serif;
}

.b-container{
    margin: 0 auto;
    width: 960px;
}

.b-head {
	background: url(../images/background-image.jpeg) no-repeat 50% top / cover;
	padding-top: 20px;
	padding-bottom: 50px;
}


/*   Header    */
.b-header {
	margin-bottom: 30px;
}

.b-logo{
display: inline-block;
vertical-align: middle;
margin-right: 15px;/*   30     */
}

.b-call{
display: inline-block;
width: 475px;
box-sizing: border-box;
}

.b-call-tel:hover {
	color: #bb1d1f;
}

.b-call-tel{
    color:#000;
}

.b-call-items {
    margin: 0;
}
    
.b-call{
    font-family: Open Sans Condensed, sans-serif;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    font-size: 36px;
    background: rgba(225, 227, 231, 0.75);
    border-radius: 10px;
    padding: 15px;
    position: relative; 
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0.001px;
}
    
.b-call::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    display: inline-block;
    border: 15px solid rgba(225, 227, 231, 0.75);
    border-left-width: 0;
    border-top-color: transparent;
    border-bottom-color: transparent;
    margin-left:-475px;
    margin-top:-15px;
    top:50%
}  
    
.b-call-tel{
    text-decoration:none; 
    background-image: linear-gradient(to right, #000 0, #000 16px, transparent 16px);
    background-size: 28px 3px;
    background-repeat: repeat-x;
    background-position: 0% 90%;
    position: relative;
    font-size: 48px;
}

.b-call-items--marker{
    color: #bb1d1f; 
    background: none;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    position: relative;
    padding-bottom:15px;
   
}

.b-call-tel:hover {
	color: #bb1d1f;
	background-image: linear-gradient(to right, #bb1d1f 0, #bb1d1f 16px, transparent 16px);
}

.b-content{
    display: flex;
	font-size: 36px;
	font-weight: 300;
	flex-direction: column;
	align-items: start;
    margin-bottom: 30px;  
}

.b-content__text{
    margin: 0;
	margin-bottom: 10px;
	background:rgba(255,255,255,1);
	text-transform: uppercase;
	padding-left: 20px;
    padding-right: 35px;
    padding-top:3px;
    padding-bottom: 5px;
    font-size: 36px; 
}

.b-content__text--marker{
    color: #bb1d1f; 
    font-weight: 600;
    background: none;
    position: relative;
    
}

.b-content__tel:hover {
    color: #bb1d1f;   
}

.b-call-items {
    margin: 0;
}

.b-content__tel {
    color:#000;
    text-decoration: none;
}

.b-form__label {
    display: block;
    position: relative;
}

.b-form__label::before {
    position: absolute;
    content: "*";
    top: 4px;
    left: 6.5px;
    font-size: 36px;
    font-weight: 700;
    color: #bb1d1f;
}

.b-form__input {
    display: block;
    border: none;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
}

.b-form__input--text {
    width: 480px;
    height: 53px;
    border:none;
    margin-bottom: 30px;
    padding-left: 35px;
    background-color: transparent;
    border-bottom: 2px solid #000000;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -0.37px;
    font-weight: 300;
    color:#000;
    outline:none;
}

::-webkit-input-placeholder{
    color: #000000;
    text-overflow: ellipsis;
    }

.b-form__botton{
    border: none;
    background: #bb1d1f;
    border-radius: 5px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 24px;
    padding: 10px 20px;
    margin-top:20px; 
}

.b-form__botton:hover{
    color: #000000;
    box-shadow: 2px 2px 5px 1px #000;
    cursor: pointer;
}

/*   working   */

.b-working-items {
	display: inline-block;
	width: 33%;
    margin-bottom: 30px;   
}

.b-working__text {
	display: inline-block;
	text-transform: uppercase;
	font-weight: 600;
    font-size: 16px;
    vertical-align: middle;
	width: 140px;
}

.b-working__text--color{
    color: #bb1d1f;
    }


.b-working__image {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
}

.b-working{
    padding-bottom: 40px; 
}

.b-working__list{
    padding-left: 0;
    margin: 0;
}

.b-working-title{
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 300;
    margin-top: 55px;
    display: inline-block;
    margin-bottom: 70px;
}

/* ouradvantage */

.b-ouradvantage-title{
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 60px;
    margin-top: 55px;
    display: inline-block;
    }

.b-ouradvantage{
    background: #f7f7f7;
    padding-bottom: 32px;
    }

    .b-ouradvantage__list{
    margin: 0;
    }

.b-ouradvantage__items{
    position: relative;
    margin-bottom: 38px;
    padding-left: 70px;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.6px;
    font-weight: 600;
    text-transform: uppercase;
    }

ol{
    list-style: none;
}
ol > li{
    padding-left: 20px;
    position: relative;
    margin: 10px;
}
ol > li::before{
    content:url(../images/checkmark.png);
    position: absolute; top: 0; left: 0;
    color: #bb1d1f;
    background-size: cover;
    font-size: 36px;  
}


    /* information */

.b-information {
    padding: 100px 0 95px;
}

.b-information__text {
    display: block;
    padding: 0 60px 0 155px;
    text-transform: uppercase;
    letter-spacing: -0.25px;
    font-weight: 300;
    font-size: 28px;
    line-height: 34px;
   
}

.b-information__text:last-of-type {
    margin-bottom: 28px;
}

.b-addition{
    position: relative;
    width: 655px;
    margin: 0 auto;
    border: 3px solid #ff9c00;
    border-radius: 10px;
    text-align: center;
    padding: 20px 90px 0;
}

.b-addition::before {
    position: absolute;
    content: "!";
    left: 12.5px;
    top: -33px;
    font-size: 260px;
    line-height: 0;
    font-weight: 600;
}

.b-addition-items--text {
    display: block;
}

.b-addition-items {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    letter-spacing: 0;
    margin-top: 0;
     
}

.b-addition-items--style {
    position: relative;
    margin-bottom: 36px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}

.b-addition-items--style::after {
    position: absolute;
    content: "";
    width: 110px;
    height: 3px;
    background-color: #000000;
    left: 282px;
    bottom: -19px;
}


/* information */

.b-footer-contact{
    background: #bb1d1f;
    margin-top: 0;
    text-align: center;
    padding-bottom:30px; 
}
    

.b-footer-contact__header--uppercase{
text-transform: uppercase;
}

.b-footer-contact__header{
    color: #ffffff;
    display: inline-block;
    margin-top: 30px; 
    font-size: 24px;

}

.b-footer-contact__form{
    display: flex;
    justify-content:space-between;
}

.b-footer-contact__form_input{
    width: 34%;
    height: 30px;
    padding-left: 12px;
    text-transform: uppercase;

}

.b-footer-contact__form_button{
    background: #bb1d1f;
    border: 2px solid;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px 20px;
    width: 240px;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    padding: 6.5px 20px;
    vertical-align: middle;
}

.b-footer-contact-tel:hover {
    color:#000;
}

.b-footer-contact-tel{
    color:#ffffff;
    text-decoration:none; 
}

.b-footer-contact__form_button:hover{
    color: #000000;
    box-shadow: 2px 2px 5px 1px #000;
    cursor: pointer;
}


/* FOOTER */

.b-footer-basement__logo{
display: inline-block;
vertical-align: middle;
margin-right: 16px;
}

.b-footer{
padding-top: 40px;
padding-bottom: 40px;
text-align-last: justify;
}

.b-company{
    display: inline-block;
    width: 200px;
    
}

.b-footer-basement{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    text-align-last: auto;
    font-family: "Open Sans Condensed", sans-serif;
}

.b-company__link{
    display: inline-block; 
    color: #9b9b9b; 
    text-decoration: none;
    font-size:14px;
    position: relative;
    top: 20px;
}

.b-company__logo{
    display: inline-block;
    position: relative;
    top: 20px;
}

.b-link--footer-txt {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	color: #000;
	font-size: 22px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	background-image: linear-gradient(to right, #000 0, #000 8px, transparent 8px);
 	background-size: 18px 1px;
    background-repeat: repeat-x;
    background-position: 0% 90%;
}

.b-link--footer-txt:hover{
    color: #bb1d1f;
    background-image: linear-gradient(to right, #bb1d1f 0, #bb1d1f 8px, transparent 8px);
}

.b-footer-basement__text{
    display: block;
    font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
    font-size: 21px;
    width: 396px;
    
}
